.scroller-page {
  min-height: 50vh;
  padding: 2rem 10%;
}

@media (max-width: 700px) {
  .scroller-page {
    height: unset;
    max-height: unset;
  }
}

@media screen and (max-width: 600px) {
  .scroller-page {
    padding: 5rem 5%;
  }
}
